/* Reset some default styles */
:root 
{
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f5f5f5;
    --text-color: #333333;
}
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    width: 100%;
}

ul {
    list-style: none;
}

.avatar {
    border-radius: 3px solid var(--background-color);
    border-radius: 50;
    height: 150px;
    width: 150px;
}

.my-links {
   align-items: center;
   display: flex;
    flex-direction: column;
    height: fit-content;
}

h1, h2 {
    color: var(--text-color);
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

/* My external links styles */
.my-links {
   padding: 24px 16px;
}

.my-links ul {
    border: 1px solid var(--background-color);
    border-radius: 20px;
    cursor: pointer;
    padding: 8px 16px;
    text-align: center;
}